@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body, html{
    overflow: hidden;
}
body{
    position: relative;
    background-color: white;   
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Spartan', sans-serif;
    font-size: 1rem;
}
.wrapper{
    width: 100%;
    max-width: 75rem;
}
.wrapper__top, .wrapper__bot{
    display: flex;
}
.wrapper__top{
    justify-content: space-between;
    margin-bottom: 4.66rem;
}
.wrapper__top-left{
    width: 43%;
}
.top__paragraph{
    color: hsl(303, 10%, 53%);
    font-weight: 500;
}
.wrapper__top-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 46%;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
.top__right-first{
    align-self: flex-start;
}
.top__right-second{
    align-self: center;
}
.top__right-third{
    align-self: flex-end;
}
.top__ratings{
    display: flex;
    background-color:hsl(300, 24%, 96%);
    gap: 1.67rem;
    width: 100%;
    max-width: 28.125rem;
    padding: 1.34rem 0 1rem 1.34rem;
    border-radius: 0.535rem;
}
.top__ratings img{
    margin: 0.133rem;
    width: 1rem;
}
.wrapper__bot{
    justify-content: space-between;
    height: 100%;
    min-height: 16.74rem;
}
.bot__section{
    background-color: hsl(300, 43%, 22%);
    width: 31.5%;
    height: 90%;
    padding: 2.67rem 2rem; 
    border-radius: 0.535rem;
    font-weight: 500;
    font-size: 0.87rem;
}
.bot__section-first{
    align-self: flex-start;
}
.bot__section-second{
    align-self: center;
}
.bot__section-third{
    align-self: flex-end;
}
.section__identity{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap: 1.34rem;
    margin-bottom: 1.34rem;
}
.section__identity img{
    width: 100%;
    max-width: 2.67rem;
    border-radius: 1.33rem;
}
.identity__name{
    color: white;
    font-weight: 700;
    padding-bottom: 0.33rem;
}
.identity__status{
    color:hsl(333, 80%, 67%);
}
.section__paragraph{
    color: white;

    line-height: 1.7;
    font-weight: 400;
}
h1{
    color: hsl(300, 43%, 22%);
    font-size: 3rem;
    margin-bottom: 0.66rem;
}
@media all and (max-width: 73.3rem){
    body, html{
        overflow-y: initial;
    }
    body{
        align-items: flex-start;
        padding: 5.33rem 0;
    }
    .wrapper{
        max-width: 23rem;
        text-align: center;
    }
    .wrapper__top, .wrapper__bot, .top__ratings{
        flex-direction: column;
        margin-bottom: 1.66rem;
    }
    .wrapper__bot{
        gap: 1.33rem;
    }
    .bot__section, .wrapper__top-left, .wrapper__top-right{
        width: 100%;
    }
    .bot__section{
        text-align: left;
    }
    .top__paragraph{
        margin-bottom: 2.33rem;
    }
    .top__ratings{
        margin-bottom: 1.33rem;
        gap: 0.33rem;
    }
    h1{
        margin-bottom: 1.33rem;
    }
}